<!-- COMPONENT: FILTERS -->
<div class="filters h-12 relative flex justify-center">
  <form name="form.searchForm" class="filters-form w-750 flex">
    <div class="filters-form__select-wrap border-r border-pale-grey-two">
      <select ng-model="form.searchFilter" ng-change="filter(form.searchFilter)"
        class="filters-form__select js-filter-select">
        <option value="">All Filters</option>
        <option value="addr">Addresses</option>
        <option value="tx">Transactions</option>
        <option value="block">Blocks</option>
      </select>
    </div>
    <div class="filters-form__input-wrap w-full">
      <input name="explorerSearch" type="text" class="filters-form__input"
        placeholder="Search by Address / Txn Hash / Block" ng-model="form.searchInput"
        ng-keyup="$event.keyCode == 13 ? searchQuery(form.searchInput) : null" />
      <!-- <ul class="filters-form__results">
              <li class="label">Addresses</li>
              <a href="./not_found.html">
                <li>0xe900000028DF8e44faF713C9a4B8deB9Be882C81</li>
              </a>
              <a href="./not_found.html">
                <li>0xE900000052C307d3C65D9B06667aF89800f69926</li>
              </a>
              <a href="./not_found.html">
                <li>0xE900000058e44faF713C9a4B87aF89800f6000ds3</li>
              </a>
              <a href="./not_found.html">
                <li>0xE900000052C307d3C65D9B0666fdsfsdf69926058</li>
              </a>
              <a href="./not_found.html">
                <li>0xe900000028DF8e44faF713C9a4B8deB9Be882C82</li>
              </a>
              <a href="./not_found.html">
                <li>0xe900000028DF8e44faF713C9a4B8deB9Be882C83</li>
              </a>
            </ul> -->
    </div>
    <div class="filters-form__btn-wrap w-12">
      <button class="filters-form__btn" type="button" ng-click="searchQuery(form.searchInput)"></button>
    </div>
  </form>
</div>
<!-- COMPONENT: FILTERS -->